body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-size: 1.125em;
  background-color: #EBFBFF;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 80%;
}

p {
  font-size: .9em;
  text-align: center;
}

.full-width {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*========= HEADER SECTION - MOBILE ========= */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-y: -25px;
  background-position-x: -7px;
  padding-top: 30px;

}

header img {
  width: 32%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 80px;
}

.nav a {
  background-color: #FFF;
  text-decoration: none;
  color: #00252E;
  padding: 5px 25px;
  border-radius: 25px;
  font-size: .65em;
  box-shadow: 0 0px 10px rgba(0,0,0,0.1), 0 3px 10px rgba(0,0,0,0.1);
}

/*======== HERO SECTION - MOBILE ============ */

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-flow: row wrap;
  padding: 0px 15px 40px 15px;


}

.hero .half-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.35em;
  line-height: 1.65em;
  color: #00252E;
}

.hero p {
  color: #00252E;
  text-align: center;
  line-height: 1.75em;
  font-size: .9em;
  margin: 5px 0 30px 0;
}

.hero a {
  font-size: .65em;
  color: #EBFBFF;
  font-weight: 700;
  text-decoration: none;
  background-color: #FF52BF;
  padding: 10px 55px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.hero img {
  width: 100%;
}

/*========= FEATURES SECTION - MOBILE ========= */

.features {
  background-color: #FFF;
  padding: 50px 10px 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.feature {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: 0 0px 15px rgba(0,0,0,0.05), 0 3px 10px rgba(0,0,0,0.05);
  border-radius: 15px;
  padding: 50px 25px 25px 25px;
  margin: 20px 0;

}

.half-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h2 {
  color: #00252E;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  margin: 45px 0 0 0;
}

.feature p {
  font-size: .79em;
  color: #808D99;
  line-height: 1.6em;
  padding: 0 5px;
}

/*=========== CTA SECTION - MOBILE ============ */

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(#FFF, #FFF 65%, #00252E 65%, #00252E 100%);
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 95%;
  background-color: #FFF;
  border-radius: 15px;
  padding: 25px 0 40px 0;
  box-shadow: 0 0px 15px rgba(0,0,0,0.05), 0 3px 10px rgba(0,0,0,0.05);
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #00252E;
  font-size: 1em;
  text-align: center;
}

aside a {
  font-size: .65em;
  color: #EBFBFF;
  font-weight: 700;
  text-decoration: none;
  background-color: #FF52BF;
  padding: 10px 50px;
  border-radius: 30px;
  box-shadow: 0 0px 15px rgba(0,0,0,0.1), 0 3px 10px rgba(0,0,0,0.1);
}

/*=============== FOOTER - MOBILE ============== */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #00252E;
  padding: 50px 0;
  width: 100%;
}

.footer-logo  {
  width: 50%;
  padding: 15px 0 25px 0;
}

.address,
.phone,
.email {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

footer img {
  width: .9em;
  padding: 5px 20px 0 0;
}

footer p {
  color: #FFF;
  margin-top: 0;
  width: auto;
  text-align: left;
  line-height: 1.6em;
}

.bottom-nav {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: #FFF;
  font-size: .9em;
  line-height: 2.5em;
}

.social {
  padding: 15px 0 25px 0;
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.social i {
  border: 1px solid #FFF;
  padding: 6px;
  border-radius: 50%;
}

i.fab.fa-facebook-f {
  padding: 6px 10px;
}

.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap;
}

.copyright i {
  font-size: .25em;
  padding-right: 3px;
}

.copyright p {
  font-size: .75em;
  margin-bottom: 0;
  text-align: center;
}

footer i {
  color: #FFF;
  font-size: .85em;
}

/*========= ACTIVE STATES ================= */

.nav a:hover {
  cursor: pointer;
  color: #808D99;
}

.hero a:hover {
  cursor: pointer;
  background-color: #ff9bdb;
}

aside a:hover {
  cursor: pointer;
  background-color: #ff9bdb;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.social i:hover {
  cursor: pointer;
  color: #FF52BF;
  border: 1px solid #FF52BF;
}

/*=================================================

      TABLET STYLING

=================================================*/


@media only screen and (min-width: 550px) {


  .full-width {
    width: 78%;
  }

  header {
    padding-top: 50px;
  }

  header img {
    width: 25%;
  }

  aside {
    width: 80%;
  }

  h3 {
    padding: 0 100px;
  }

  .copyright {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {

  .nav {
    padding-bottom: 25px;
  }
  .contact,
  .bottom-nav {
    width: 50%;
  }

  .bottom-nav {
    text-align: right;
  }

  .social {
    width: 100%;
    padding: 25px 225px 50px 225px;
  }

  .copyright {
    width: 60%;
  }
}

/*==========================================

    SMALL DESKTOP STYLING

============================================*/

@media only screen and (min-width: 1024px) {
  .full-width {
    width: 90%;
  }

  header {
    background-image: url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding-top: 50px;
  }

  header img {
    width: 18%;
  }

  .nav a {
    padding: 8px 50px;
    font-size: .8em;
  }
/*============= HERO SECTION - SMALL DESKTOP ======== */

  .hero {
    justify-content: space-between;
  }

  .hero .half-width {
    width: 50%;
    justify-content: flex-start;
  }

  h1 {
    text-align: left;
    font-size: 1.5em;
    width: 75%;
    padding-top: 50px;
    line-height: 1.5em;
  }

  .hero p {
    text-align: left;
    line-height: 1.5em;
    margin: 5px 0 20px 0;
  }

  .hero a {
    text-align: left;
    padding: 12px 35px;
  }


/*========= FEATURES SECTION - SMALL DESKTOP ======= */

.feature {
  justify-content: space-between;
  padding: 40px 20px 40px 75px;
}

.half-feature {
  width: 45%;
}

.reverse {
  order: -1;
}

h2 {
  text-align: left;
  width: 100%;
}

.feature p {
  text-align: left;
  padding-left: 0;
}

.feature img {
  width: 100%;
}

/*========== CALL TO ACTION - SMALL DESKTOP ====== */

aside {
  width: 60%;
}

h3 {
  font-size: 1.3em;
}

aside a {
  padding: 20px 90px;
  font-size: .9em;
}

/*=========== FOOTER SECTION - SMALL DESKTOP ===*/

footer .full-width {
  justify-content: space-between;
}

.contact {
  width: 40%;
}

.footer-logo {
  width: 40%;
}

.bottom-nav {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  width: 25%;
}

.social {
  width: 13%;
  padding: 0;
}

.copyright {
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}


/*=========================================================

        LARGE DESKTOP STYLING

======================================================*/

@media only screen and (min-width: 1440px) {


header img {
  width: 15%;
}

.nav {
  padding-bottom: 75px;
}

.nav a {
  padding: 12px 65px;
}

.hero {
  padding-bottom: 75px;
}

.half-width.description {
  width: 45%;
}

h1 {
  font-size: 1.9em;
  padding-top: 30px;
}

.hero p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin: 5px 0 30px 0;
}

.hero a {
  padding: 15px 65px;
  font-size: .8em;
}

/*============= FEATURES SECTION - LARGE DESKTOP ==========*/

.features {
  padding-top: 125px;
  padding-bottom: 125px;
}

.feature {
  padding: 50px 20px 50px 75px;
  margin: 25px 0;
}

.half-feature {
  width: 46%;
}


h2 {
  font-size: 1.5em;
}

.feature p {
  font-size: 1.1em;
}

/*============ CTA SECTION - LARGE DESKTOP ============== */

h3 {
  font-size: 1.75em;
}

aside {
  padding-bottom: 50px;
}

aside a {
  font-size: 1em;
}

/*=========== FOOTER - LARGE DESKTOP ===================== */


footer .full-width {
  align-items: flex-start;
}

.contact {
  width: 35%;
}

.bottom-nav {
  justify-content: flex-start;
  width: 30%;
  padding-top: 60px;
}

ul {
  padding-right: 100px;
}

.social {
  justify-content: flex-start;
  width: 20%;
  padding-top: 70px;
}

.social i {
  margin-right: 15px;
  font-size: 1em;
}

}
