body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-size: 1.125em;
  background-color: #EBFBFF;
  margin: 0;
  padding: 30px 0 0 0;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 80%;
}

p {
  font-size: .9em;
  text-align: center;
}

.full-width {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*========= HEADER SECTION - MOBILE ========= */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-y: -25px;
  background-position-x: -7px;

}

header img {
  width: 32%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 80px;
  background-image: linear-gradient(to bottom, rgba(235, 251, 255, 1), rgba(235, 251, 255, 0.25));
}

.nav a {
  background-color: #FFF;
  text-decoration: none;
  color: #00252E;
  padding: 5px 25px;
  border-radius: 25px;
  font-size: .65em;
  box-shadow: 0 0px 10px rgba(0,0,0,0.1), 0 3px 10px rgba(0,0,0,0.1);
}

/*======== HERO SECTION - MOBILE ============ */

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-flow: row wrap;
  padding: 0px 15px 40px 15px;


}

.hero .half-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.35em;
  line-height: 1.65em;
  color: #00252E;
}

.hero p {
  color: #00252E;
  text-align: center;
  line-height: 1.75em;
  font-size: .9em;
  margin: 5px 0 30px 0;
}

.hero a {
  font-size: .65em;
  color: #EBFBFF;
  font-weight: 700;
  text-decoration: none;
  background-color: #FF52BF;
  padding: 10px 55px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.hero img {
  width: 100%;
}

/*========= FEATURES SECTION - MOBILE ========= */

.features {
  background-color: #FFF;
  padding: 50px 10px 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.feature {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: 0 0px 15px rgba(0,0,0,0.05), 0 3px 10px rgba(0,0,0,0.05);
  border-radius: 15px;
  padding: 50px 25px 25px 25px;
  margin: 20px 0;

}

.half-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h2 {
  color: #00252E;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  margin: 45px 0 0 0;
}

.feature p {
  font-size: .79em;
  color: #808D99;
  line-height: 1.6em;
  padding: 0 5px;
}

/*=========== CTA SECTION - MOBILE ============ */

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(#FFF, #FFF 65%, #00252E 65%, #00252E 100%);
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 95%;
  background-color: #FFF;
  border-radius: 15px;
  padding: 25px 0 40px 0;
  box-shadow: 0 0px 15px rgba(0,0,0,0.05), 0 3px 10px rgba(0,0,0,0.05);
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #00252E;
  font-size: 1em;
  text-align: center;
}

aside a {
  font-size: .65em;
  color: #EBFBFF;
  font-weight: 700;
  text-decoration: none;
  background-color: #FF52BF;
  padding: 10px 50px;
  border-radius: 25px;
  box-shadow: 0 0px 15px rgba(0,0,0,0.1), 0 3px 10px rgba(0,0,0,0.1);
}

/*=============== FOOTER - MOBILE ============== */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #00252E;
  padding: 50px 0;
}

.footer-logo  {
  width: 50%;
  padding: 15px 0 25px 0;
}

.address,
.phone,
.email {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

footer img {
  width: .9em;
  padding: 5px 20px 0 0;
}

footer p {
  color: #FFF;
  margin-top: 0;
  width: 90%;
  text-align: left;
  line-height: 1.6em;
}

.bottom-nav {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: #FFF;
  font-size: .9em;
  line-height: 2.5em;
}

.social {
  padding: 15px 0 25px 0;
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.social i {
  border: 1px solid #FFF;
  padding: 6px;
  border-radius: 50%;
}

i.fab.fa-facebook-f {
  padding: 6px 10px;
}

.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap;
}

.copyright i {
  font-size: .25em;
  padding-right: 3px;
}

.copyright p {
  font-size: .75em;
  margin-bottom: 0;
  text-align: center;
  width: 80%;
}

footer i {
  color: #FFF;
  font-size: .85em;
}

/*========= ACTIVE STATES ================= */

.nav a:hover {
  cursor: pointer;
  color: #808D99;
}

.hero a:hover {
  cursor: pointer;
  background-color: #ff9bdb;
}

aside a:hover {
  cursor: pointer;
  background-color: #ff9bdb;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.social i:hover {
  cursor: pointer;
  color: #FF52BF;
  border: 1px solid #FF52BF;
}

/*=================================================

      TABLET STYLING

=================================================*/


@media only screen and (min-width: 550px) {

  body {
    padding: 50px 0 0 0;
  }

  .full-width {
    width: 78%;
  }

  header img {
    width: 25%;
  }

  aside {
    width: 80%;
  }

  h3 {
    padding: 0 100px;
  }

  .copyright {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {

  .nav {
    padding-bottom: 25px;
  }
  .contact,
  .bottom-nav {
    width: 50%;
  }

  .bottom-nav {
    text-align: right;
  }

  .social {
    width: 100%;
    padding: 25px 225px 50px 225px;
  }

  .copyright {
    width: 60%;
  }
}

/*==========================================

    SMALL DESKTOP STYLING

============================================*/

@media only screen and (min-width: 1024px) {
  .full-width {
    width: 90%;
  }

  header img {
    width: 18%;
  }

  .nav a {
    padding: 8px 50px;
    font-size: .8em;
  }
/*============= HERO SECTION - SMALL DESKTOP ======== */

  .hero {
    justify-content: space-between;
  }

  .hero .half-width {
    width: 50%;
    justify-content: flex-start;
  }

  h1 {
    text-align: left;
    font-size: 1.9em;
  }

  .hero p {
    text-align: left;
  }

  .hero a {
    text-align: left;
  }
}
